packages:
  repos:
    nginx:
      - humanname: Logstash PPA
      - name: deb http://ppa.launchpad.net/wolfnet/logstash/ubuntu precise main
      - dist: precise
      - file: /etc/apt/sources.list.d/logstash.list
      - keyid: 28B04E4A
      - keyserver: keyserver.ubuntu.com

  purge:
    - openvpn

  install:
    - openssh-server
    - mysql-server
